/* .power-switch {
  --color-invert: #fff;
  --width: 150px;
  --height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  transform: scale(0.3);
}
.power-switch .button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.power-switch .button:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    circle closest-side,
    var(--color-invert),
    transparent
  );
  filter: blur(20px);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}
.power-switch .button .power-on,
.power-switch .button .power-off {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: var(--color-invert);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.power-switch .button .power-on .line,
.power-switch .button .power-off .line {
  opacity: 0.2;
}
.power-switch .button .power-on .circle,
.power-switch .button .power-off .circle {
  opacity: 0.2;
  transform: rotate(-58deg);
  transform-origin: center 80px;
  stroke-dasharray: 220;
  stroke-dashoffset: 40;
}
.power-switch .button .power-on {
  filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
}
.power-switch .button .power-on .line {
  opacity: 0;
  transition: opacity 0.3s ease 1s;
}
.power-switch .button .power-on .circle {
  opacity: 1;
  stroke-dashoffset: 220;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
}
.power-switch input {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.power-switch input:checked + .button .power-on,
.power-switch input:checked + .button .power-off {
  animation: click-animation 0.3s ease forwards;
  transform: scale(1);
}
.power-switch input:checked + .button .power-on .line,
.power-switch input:checked + .button .power-off .line {
  animation: line-animation 0.8s ease-in forwards;
}
.power-switch input:checked + .button .power-on .circle,
.power-switch input:checked + .button .power-off .circle {
  transform: rotate(302deg);
}
.power-switch input:checked + .button .power-on .line {
  opacity: 1;
  transition: opacity 0.05s ease-in 0.55s;
}
.power-switch input:checked + .button .power-on .circle {
  transform: rotate(302deg);
  stroke-dashoffset: 40;
  transition: transform 0.4s ease 0.2s, stroke-dashoffset 0.4s ease 0.2s;
}
@keyframes line-animation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-25px);
  }
  85% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
} */

/* New one :: */
input {
  display: none;
}
.toggleWrapper {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  min-width: 75px;
  height: 100%;
  min-height: 75px;
  border-radius: 50%;
  background-color: #fe4551;
  box-shadow: 0 20px 20px 0 rgba(254, 69, 81, 0.3);
}
.toggleWrapper:active {
  /* width: 95px;
  height: 95px; */
  box-shadow: 0 15px 15px 0 rgba(254, 69, 81, 0.5);
}
.toggleWrapper:active .toggle {
  height: 17px;
  width: 17px;
}
.toggleWrapper .toggle {
  transition: all 0.2s ease-in-out;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  animation: red 0.7s linear forwards;
  padding: 0;
  box-sizing: content-box;
}

input:checked ~ .background {
  background-color: #f9faf7;
}
input:checked + .toggleWrapper {
  background-color: #48e98a;
  box-shadow: 0 20px 20px 0 rgba(72, 233, 138, 0.3);
}
input:checked + .toggleWrapper:active {
  box-shadow: 0 15px 15px 0 rgba(72, 233, 138, 0.5);
}
input:checked + .toggleWrapper .toggle {
  width: 0;
  background-color: #fff;
  border-color: transparent;
  border-radius: 30px;
  animation: green 0.7s linear forwards !important;
}

@keyframes red {
  0% {
    height: 30px;
    width: 0;
    border-width: 5px;
  }
  55% {
    height: 13px;
    width: 27px;
    border-width: 10px;
  }
  70% {
    height: 20px;
    width: 20px;
    border-width: 10px;
  }
  85% {
    height: 15px;
    width: 25px;
    border-width: 10px;
  }
  100% {
    height: 20px;
    width: 20px;
    border-width: 10px;
  }
}
@keyframes green {
  0% {
    height: 20px;
    width: 20px;
    border-width: 10px;
  }
  25%,
  55%,
  85% {
    height: 30px;
    width: 5px;
    border-width: 5px;
  }
  40%,
  70%,
  100% {
    height: 30px;
    width: 0;
    border-width: 5px;
  }
}
