/* New one :: */
input {
  display: none;
}
.toggleWrapper {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  min-width: 5rem;
  min-height: 5rem;
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
  /* background-color: #fe4551; */
  /* box-shadow: 0 20px 20px 0 rgba(254, 69, 81, 0.3); */
}
.toggleWrapper:active {
  /* width: 95px;
  height: 95px; */
  box-shadow: 0 15px 15px 0 rgba(254, 69, 81, 0.5);
}
.toggleWrapper:active .toggle {
  height: 17px;
  width: 17px;
}
.toggleWrapper .toggle {
  transition: all 0.2s ease-in-out;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 6px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  animation: red 0.7s linear forwards;
  padding: 0;
  box-sizing: content-box;
}

input:checked ~ .background {
  background-color: #f9faf7;
}
input:checked + .toggleWrapper {
  background-color: #48e98a;
  border: 2px solid #48e98a;
  box-shadow: 0 20px 20px 0 rgba(72, 233, 138, 0.3);
}
input:checked + .toggleWrapper:active {
  box-shadow: 0 15px 15px 0 rgba(72, 233, 138, 0.5);
}
input:checked + .toggleWrapper .toggle {
  width: 0;
  background-color: #fff;
  border-color: transparent;
  border-radius: 30px;
  animation: green 0.7s linear forwards !important;
}

@keyframes red {
  0% {
    height: 25px;
    width: 0;
    border-width: 3px;
  }
  55% {
    height: 8px;
    width: 22px;
    border-width: 6px;
  }
  70% {
    height: 10px;
    width: 10px;
    border-width: 6px;
  }
  85% {
    height: 10px;
    width: 20px;
    border-width: 6px;
  }
  100% {
    height: 15px;
    width: 15px;
    border-width: 6px;
  }
}
@keyframes green {
  0% {
    height: 15px;
    width: 15px;
    border-width: 6px;
  }
  25%,
  55%,
  85% {
    height: 25px;
    width: 3px;
    border-width: 3px;
  }
  40%,
  70%,
  100% {
    height: 25px;
    width: 0;
    border-width: 3px;
  }
}
